@import '../App.scss';

.aboutWrapper {
    @include flex;
    margin: 40px 60px 0 60px;
}
.imagesAboutWrapper {
    width: 50%;
}
.portrait {
    width: 77%;
    border-radius: 50%;
    margin-left: 10%;
}
.textWrapper{
    width: 50%;  
}

//media queries
@media screen and (max-width: 1253px) {
    .portrait {
        margin-top: 50px;
    }
    .textAbout {
        font-size: 16px;
    }
}

@media screen and (max-width: 1131px) {
    .portrait {
        width: 87%;
        margin-left: 1%;
    }
    
}
@media screen and (max-width: 986px) {
    .portrait {
        width: 115%;
        
    }
    .textWrapper{
        width: 62%;  
        margin-left: 100px;
    }
    .textAbout {
        font-size: 14px;
    }  
}
@media screen and (max-width: 832px) {
    .aboutWrapper {
        display: block;
        margin-top: 0;
    }  
    .imagesAboutWrapper {
        margin: 0 auto ;
        padding: 0 20px 0 20px;

    }
    .portrait {
        width: 100%;
    }
    .aboutHeader {
        text-align: center;
    }
    .textWrapper {
        width: 100%;
        margin-left: 0;
    }
    .iconWrapper {
        align-content: center;
    }
}
@media screen and (max-width: 542px) {
    .aboutHeader {
        font-size: 22px;
    }
    .imagesAboutWrapper {
        padding: 0;
        width: 80%;
    }
    .aboutWrapper {
        margin-top: 0;
        
    }
    
}
