/*@import '../App.scss';

.colourBoxWrap {
    @include flex;
    position: relative;
}
.whiteBox {
    //background-color: $pimary-white-opacity;
    margin-left: 25%;
    padding-right: 25%;
    padding-bottom: 100%;
    
}
.greyBox {
    background-color: $primary-dark-colour;
    padding-right: 50%;
    padding-bottom: 100%;
}*/
