@import '../App.scss'; 

.footerWrapper {
    background-color: $primary-light-colour;
    height: 170px;
}
.contactFooter {
    
    @include primary-heading-font;
    font-weight: 100;
    text-align: center;
    color: $primary-dark-colour;
    padding-top: 50px;
}
.footerPara {
    @include primary-heading-font;
    font-weight: 100;
    text-align: center;
    color: $primary-dark-colour;
    margin-top: -20px;
}
.footerParaThanks {
    @include primary-heading-font;
    font-weight: 100;
    text-align: center;
    color: $primary-dark-colour;
    margin-top: -10px;
    font-size: 10px;
}
.link {
    text-decoration: none;
    color: $primary-dark-colour;
}

@media screen and (max-width: 360px) {
    .contactFooter {
        padding-top: 30px;
    }
    
}