@import '../App.scss';


.alignHeader {
    justify-content: center;
    position: sticky;
    top: 0;
    text-align: center;
    margin-top: 25vh;
    
   
}
.headerOne {
    @include primary-heading-font; 
    font-weight: 100;
    font-size: 48px;
    color: $primary-light-colour;
    margin-bottom: -40px;
    //background-color: $primary-dark-colour;
}

.headerTwo { 
    @include primary-heading-font;
    font-size: 48px;
    font-weight: 100;
    color: $primary-light-colour;
    padding: 0 0 15px 110px;
    //-color: $primary-dark-colour
}
.slideToLeft {
    animation-name: slideToLeft;
    animation-duration: 2s;
    animation-fill-mode: forwards ;
}
.slideToLeftFar {
    animation-name: slideToLeftFar;
    animation-duration: 2s;
    animation-fill-mode: forwards ;
}


@keyframes slideToLeft {
    //from {  transition: font-size 48px;}
    to {     transform: translateX(-67vh);
            //transform: scale(0.1);
        }
  }
  @keyframes slideToLeftFar {
    to {    transform: translateX(-74.5vh);  }
  }
  

//media quaries
@media screen and (max-width: 986px) {
    .headerOne, .headerTwo {
        font-size: 34px;
        margin-bottom: -40px;
    }   
    .alignHeader {
        top: 25vh;
        //left: 35vh
    }

}
@media screen and (max-width: 851px) {
    .alignHeader {
       //left: 15vh
    }     
}
@media screen and (max-width: 520px) {
    .alignHeader {
        //left: 1vh; 
    }
    .headerOne {
        font-weight: 200;
        //padding: 0 0 0 10px;
        margin-bottom: -10px;
    }
    
    .headerTwo {
        font-weight: 200;
        //padding: 0 0 0 10px;
    }
}


