@import '../App.scss';
.iconWrapper {
    @include flex;
    margin-left: -20px;
}
//.iconSingleWrap {
  //  margin: 20px;
//}
.cvButton {
    @include primary-paragraph-font;
    background-color: $primary-dark-colour;
    border: solid $primary-light-colour;
    border-radius: 40px;
    padding: 10px;
    box-shadow:  #242220 0px -2px 6px 2px inset;
    cursor: pointer; 
}
.iconCvWrap {
    margin-top: 25px;
}

//for project page
.iconProjectRight {
    @include flex;
    padding-right: 20px;
    margin: 20px;
    justify-content: flex-end;
}
.iconProjectLeft {
    margin-left: -20px;
}
.hidden {
    display: none;
}

//media queries
@media screen and (max-width: 1253px) {
    
}
@media screen and (max-width: 1131px) {
    
    
}
@media screen and (max-width: 1008px) {
    .cvButton  {
        padding: 10px;
        font-size: 12px;
    }
  }
    
@media screen and (max-width: 927px) {
    .iconSingleWrap {
        margin: 10px;
    }
    .iconCvWrap {
        margin-top: 18px;
    }
    
}
@media screen and (max-width: 832px) {
    .iconWrapper {
        justify-content:  center;
        padding: 20px 0 40px 0;
    }
}
@media screen and (max-width: 542px) {
    .iconCvWrap {
        display: none;
    }
    
}

@media screen and (max-width: 832px) {
    .iconProjectRight{
        justify-content: center;
    }
    .iconProjectLeft {
        text-align: center;
    }
    
}
