@import '../App.scss';

.mobileMenu{
    display: none;
}
.menu {
    position: sticky;
    top: 0;
    
}
.navBar {
    @include flex;
    font-size: 20px;
    text-transform: uppercase; 
    background-color: $primary-light-colour;

}

.nav {
    list-style-type: none;
    @include flex-end;
    margin: 30px 0 0 0;
    width: 50%;
    padding-right: 30px;
    padding-bottom: 30px
}
li a {
    @include primary-heading-font;
    color: $primary-dark-colour; 
  }
  
  li a:hover {
    color: #6E622F
   
  }

.navLink {
    text-decoration: none;
    margin: 0 20px 0 20px;
   
}

.imagesWrapper {
    background-color: $primary-dark-colour;
    width: 50%;
}
.logo {
    margin: 15px 0 15px 25px;
  
}


//media queries
@media screen and (max-width: 1253px) {
    .navBar {
        font-size: 16px;
    }
}

@media screen and (max-width: 1131px) {
    .navBar {
        font-size: 14px;
    }
    ul.nav {
        padding-right: 10px;
    }
}
@media screen and (max-width: 986px) {
    .imagesWrapper {
        background-color: $primary-light-colour;
        width: 50%;
    }  
}

/////////////////// hamburger meny:
.mobileNav {
    list-style-type: none;
    margin: 0;
    padding: 20px 0 20px 20px;
    padding-right: 100%;
    position: fixed;
    background-color: rgba(237, 225, 174, 0.75);
}
.mobileList {
    padding: 10px;
}
.mobileList a {
    color: $primary-dark-colour;
}
@media screen and (max-width: 509px) {
    .mobileMenu {
        display: flex;
        justify-content: flex-start;  
        top: 0;
        background-color: $primary-light-colour;
        padding: 17px 0 17px 17px;
    }  
    .navBar {
        display: none;
    }
}
@media screen and (min-width: 509px) {
    .mobileNav {
        display: none;
    }  
}

@keyframes mobileAnimOpen {
    from {
        transform: translateY(-70px);
        opacity: 0;
    }
    to {transform: translateY(0px);}
}
@keyframes mobileAnimClose {
    100% {transform: translateY(-50px)}
    from {transform: translateY(0px);}
    to {opacity: 0;}
        
}


