@import '../App.scss'; 

//Wrapps
.projectWrapper {
    padding-top: 40px;
}
.theProjectWrapper {
    @include flex;
    justify-content: center;
    padding: 40px 100px 100px 100px;
    margin-bottom: 50px;
}

//main header
.projectHeader {
    @include primary-heading-font;
    color: $primary-light-colour;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 100;
}
.VisitLeft {
    @include primary-heading-font;
    font-size: 18px;
    color: $primary-light-colour;
    margin-bottom: 40px;
    font-weight: 100;
    //line-height: 50px;
 }
 .VistLeft a:hover{
     color: #6E622F
 }
//Images
.projectImageWrapper {
    width: 50%;
    padding-right: 20px;
}
.projectImageDuoWrapper {
    //@include flex;
    width: 50%;
    padding-left: 20px;
    padding-right: 40px;
}
.meanwoodValleyImage {
    width: 50%;
}
.meanwoodValleyrider {
    width: 50%;
}
.reactImage {
    width: 100%; 
}

//Projet header
.projectTextBoxHeader {
    @include primary-heading-font;
    color: $primary-light-colour;
    padding-right: 40px;
    font-weight: 100;
    letter-spacing: 6px;
}

//Paragraphs
.projectTextWrapper {
    width: 50%;
    //padding-left: 20px;
}
.textProject {
    @include primary-paragraph-font;
}
.textProjectLeft {
    text-align: right;
    padding-right: 40px;
}
.duoTextWrapper{
    margin-top: 50px;
}


//media queries
@media screen and (max-width: 1253px) {
    .projectImageWrapper {
        padding-top: 30px;
    }
    .duoTextWrapper {
        margin-top: -20px;
    }
}

@media screen and (max-width: 1131px) {
    .projectImageWrapper {
        padding-top: 60px;
    }
    .duoTextWrapper {
        margin-top: -40px;
    }
    
}
@media screen and (max-width: 986px) {
    .textProject {
        font-size: 14px;
    }
    .iconProjectLeft {
        margin-left: -11px;
    }
}
@media screen and (max-width: 832px) {
    .theProjectWrapper {
        flex-direction: column;
    }
    .projectImageDuoWrapper {
        width: 100%;
       
    }
    .meanwoodValleyImage {
        width: 50%;
    }
    .meanwoodValleyrider {
        width: 50%;
    }
    .projectImageWrapper {
        width: 100%;
    }
    .projectTextWrapper {
        width: 100%;
        //padding-left: 20px;
    }
    .duoTextWrapper {
        margin-top: 0;
    }
    .projectImageWrapper {
        padding-top: 0;
    }
    .textProjectLeft {
        text-align: center;
        padding-right: 0;
    }
    .duoTextWrapper {
        text-align: center;
        padding-right: 0;
    }
    .projectImageDuoWrapper {
        order: 2;
    }
    .theProjectWrapper {
        padding: 40px;
    }
    .projectTextBoxHeader {
        padding-right: 0;
    }
    .iconProjectRight {
        padding: 0;
    }
    .iconProjectLeft {
        margin: 0;
    }
}
@media screen and (max-width: 542px) {
    .theProjectWrapper {
        padding: 1px 40px;
    }
    .projectImageWrapper {
        padding: 0;
    }
    .projectImageDuoWrapper {
        padding: 0;
    }
}