@import '../App.scss'; 
//wrapper
.skillsWrapper {
    padding-top: 40px;
}
.iconWrapperSkills {
    margin: 20px 250px;
    flex-wrap: wrap;
    justify-content: center
}
.iconSingleWrapSkills {
    margin: 60px;
    color: $primary-light-colour;
    cursor: pointer;
}
//main header
.skillsHeader {
    @include primary-heading-font;
    color: $primary-light-colour;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 100;
}

//all mouse over event;
.skillsPop {
    @include flex;
    margin-top: -40px;
}
.skillsHTMLPop {
    padding-left: 22px;
}
.skillsCSSPop {
    padding-left: 26px;
}
.skillsReactPop {
    padding-left: 9px;
}
.skillsNPMPop {
    padding-left: 25px;
}
.skillsRespPop {
    padding-right: 100px;
}

//keyframes for amnimation.

@keyframes htmlAnmiUp{
    100% {
        transform: translateY(-30px);
        color: #c57d89;
    }
    }
    @keyframes htmlAnmiDown{
   
    from {transform: translateY(-30px);
        color: #c57d89;}
    to {transform: translateY(0px);}
    
}

//media queries
@media screen and (max-width: 1299px) {
    .iconWrapperSkills {
        margin: 20px 150px;
    }
}
@media screen and (max-width: 1116px) {
    .iconWrapperSkills {
        margin: 20px 80px;
    }
    
}
@media screen and (max-width: 997px) {
    .iconWrapperSkills {
        margin: 20px 50px;
    }
    .iconSingleWrapSkills {
        margin: 50px;
    }
    
}
@media screen and (max-width: 660px) {
    
    .iconSingleWrapSkills {
        margin: 40px;
    }
    
}
@media screen and (max-width: 505px) {
    .iconWrapperSkills {
        margin: 20px 5px;
    }
   
    
}