/*Imorts*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap");
* {
    box-sizing: border-box;
}

/*Varibles*/
$primary-dark-colour: #1d1d1d;
//$primary-dark-colour: #2D2C2B;
//$primary-light-colour: #EDE1AE;
$primary-light-colour: #ececec;

/*Mixins*/
@mixin primary-heading-font {
    font-family: 'Oswald', san-serif;
    color: $primary-dark-colour;
    letter-spacing: 3px;
    
}
@mixin primary-paragraph-font {
    font-family: 'Quattrocento Sans', sans-serif;
    color: $primary-light-colour;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.5;
}
@mixin flex {
    display: flex;
}
@mixin flex-end {
    display: flex;
    justify-content: flex-end;
}
@mixin flex-center {
    display: flex;
    justify-content: flex-end;
}
body {
    background-color: $primary-dark-colour;
 
}

.wrapper {
    min-height: 100vh;
}
